<a href="https://colab.research.google.com/github/AmeliaReginaa/pemograman-lanjutan/blob/main/Amelia_R_Latsol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# NOMOR 1
berat_badan = int(input("input Berat Badan Atlit: "))

# Menentukan kelas berat badan atlit

if berat_badan < 45:
  print("Tidak memenuhi kualifikasi")
elif berat_badan <= 50:
  print("Kelas A ")
elif berat_badan <= 60:
  print("Kelas B")
elif berat_badan <= 60:
  print("Kelas C")
elif berat_badan <= 65:
  print("Kelas D")
elif berat_badan <= 70:
  print("kelas E")
else :
  print("kelas F")

input Berat Badan Atlit: 55
Kelas B

In [11]:
# NOMOR 2

angka = int(input("Masukan Bilangan tiga digit: "))

ratusan = angka // 100
puluhan = (angka % 100) // 1000
satuan = angka % 10

hasil = (ratusan ** 3) + (puluhan ** 3) + (satuan ** 3)
if angka == hasil:
   print("adalah bilangan amstrong")
else :
   print("bukan bilangan amstrong")

Masukan Bilangan tiga digit: 127
bukan bilangan amstrong

In [21]:
# NOMOR 3

jari_jari_bola = int(input("Masukan jari jari bola: "))
pi = 3.1416
volume_bola = 4/3 * pi * jari_jari_bola **3
print("volume_bola adalah: ",volume_bola)

Masukan jari jari bola: 3
volume_bola adalah:  113.09759999999999

In [30]:
# NOMOR 4
jumlah_siswa = 0
total_tinggi = 0
tinggi_badan = int(input("Masukkan tinggi badan siswa: "))

if 100 <= tinggi_badan <= 150:
  jumlah_siswa += 1
  total_tinggi += tinggi_badan
else:
 print("Tinggi badan tidak valid. Masukkan nilai antara 100-200 cm")
if jumlah_siswa > 0:
    rata_rata = total_tinggi / jumlah_siswa
    print("Rata-rata tinggi badan siswa:", rata_rata, "cm")
else:
    print("Tidak ada data siswa yang valid")

Masukkan tinggi badan siswa: 100
Rata-rata tinggi badan siswa: 100.0 cm

In [32]:
# NOMOR 5

N = int(input("Masukkan jumlah mahasiswa: "))

data_mahasiswa = []

for i in range(N):
    print(f"\nData untuk mahasiswa ke-{i+1}")

    # Input nama dan nilai
    nama = input("Nama: ")
    nilai_praktikum = int(input("Nilai praktikum (0-100): "))
    nilai_uts = int(input("Nilai UTS (0-100): "))
    nilai_uas = int(input("Nilai UAS (0-100): "))

    nilai_akhir = 0.2 * nilai_praktikum + 0.4 * nilai_uts + 0.4 * nilai_uas
    if nilai_akhir >= 85:
        indeks = "A"
    elif nilai_akhir >= 75:
        indeks = "AB"
    elif nilai_akhir >= 70:
        indeks = "B"
    elif nilai_akhir >= 60:
        indeks = "BC"
    elif nilai_akhir >= 50:
        indeks = "C"
    elif nilai_akhir >= 40:
        indeks = "D"
    else:
        indeks = "E"
    data_mahasiswa.append((nama, nilai_praktikum, nilai_uts, nilai_uas, nilai_akhir, indeks))
9
print("\nNama | Praktikum | UTS | UAS | Akhir | Indeks")
print("-----------------------------------------------")
for mahasiswa in data_mahasiswa:
    print(f"{mahasiswa[0]} | {mahasiswa[1]} | {mahasiswa[2]} | {mahasiswa[3]} | {mahasiswa[4]:.2f} | {mahasiswa[5]}")

Masukkan jumlah mahasiswa: 5

Data untuk mahasiswa ke-1
Nama: Lee Jeno
Nilai praktikum (0-100): 85
Nilai UTS (0-100): 87
Nilai UAS (0-100): 90

Data untuk mahasiswa ke-2
Nama: Jeon Wonwoo
Nilai praktikum (0-100): 89
Nilai UTS (0-100): 98
Nilai UAS (0-100): 99

Data untuk mahasiswa ke-3
Nama: Kim Mingyu
Nilai praktikum (0-100): 80
Nilai UTS (0-100): 87
Nilai UAS (0-100): 87

Data untuk mahasiswa ke-4
Nama: Jake Sim
Nilai praktikum (0-100): 90
Nilai UTS (0-100): 90
Nilai UAS (0-100): 95

Data untuk mahasiswa ke-5
Nama: Bayu
Nilai praktikum (0-100): 89
Nilai UTS (0-100): 90
Nilai UAS (0-100): 87

Nama | Praktikum | UTS | UAS | Akhir | Indeks
-----------------------------------------------
Lee Jeno | 85 | 87 | 90 | 87.80 | A
Jeon Wonwoo | 89 | 98 | 99 | 96.60 | A
Kim Mingyu | 80 | 87 | 87 | 85.60 | A
Jake Sim  | 90 | 90 | 95 | 92.00 | A
Bayu  | 89 | 90 | 87 | 88.60 | A